@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 green-text" onmouseover="newColor" onmouseout="oldColor">Hello World!</h1>
    <p>Check out this music video! <a href="https://www.youtube.com/embed/OYjZK_6i37M?si=_C8DN2f9TKvRZCVm">Godsmack - I Stand Alone </a>.</p>
</div>
